
.logout{
  float: right;
}
body{
background-image: url(https://github.com/ayushsatyam146/sihpics/blob/master/back.jpeg?raw=true);
background-repeat: none;
}

.down{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;
    
}
.button{
  border-radius: 50%;
}

.btn-lg{
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
    color: white;
    line-height: 1.2;
    text-align: center;
    width: 70%;
    display: block;
    color: black;
    background: white;
    border-radius: 200px;
    padding: 50px;
    width: 350px;
    height: 70px;
    max-width: 600px;
  margin: auto;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d6c4b0;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #c6af9d;
}

.logout{
  float: right;
}

.headpic{
  width: 1280px;
  background-color: #d6c4b0;
}